{% extends "layout/layout.html.twig" %}

{% block title %} CRUD Medalhas {% endblock %}

{% block content %}
    <!-- importamos o template desejado -->
    <div class="container">
        <!-- Content here -->
        <h2>
            {{ titulo }}
            <small class="text-muted">With faded secondary text</small>
        </h2>




        ---
        {#<br />#}
        {#<img src="{{ base_url() }}/common/imagens/sgm.png" width="60" height="70" border="0">#}

        {#{% if name %}#}
            {#<h2>Hello#}
                {#{{ name }}!</h2>#}
        {#{% else %}#}
            {#<p>Try#}
                {#<a href="/SlimFramework">/SlimFramework</a>#}
            {#</p>#}
        {#{% endif %}#}

        {#{{ base_url() }}#}

    </div>

{% endblock %}
