{% extends "layout/layout.html.twig" %}

{% block title %} Principal {% endblock %}

{% block content %}
    <!-- importamos o template desejado -->
    <!-- <nav class="navbar navbar-dark bg-primary"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">
            <!-- <img src="common/imagens/sgm.png" width="30" height="40" border="0"> DAbM - Monte sua placa de Barretas</a> -->
            <img src="common/imagens/brasaoDAbM.png">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="fa fa-home"></i>
                        Home
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.planalto.gov.br/ccivil_03/decreto/Antigos/D40556.htm">
                        <i class="fa fa-external-link"></i>
                        DECRETO Nº 40.556
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://rumb.dabm.mb/rumb/documentos/docs/vi_t4_c4-3.doc">
                        <i class="fa fa-link"></i>
                        CAP 4.3 - CONDECORAÇÕES E MEDALHAS</a>
                </li>
            </ul>
            <!-- <span class="navbar-text"> Navbar text with an inline element </span> -->
        </div>

    </nav>
    <div class="container">
        <!-- Content here -->
        <h1>Monte sua placa de Barretas</h1>


        <img src="common/imagens/sgm.png" width="60" height="70" border="0">

        {% if name %}
            <h2>Hello
                {{ name }}!</h2>
        {% else %}
            <p>Try
                <a href="/SlimFramework">/SlimFramework</a>
            </p>
        {% endif %}
    </div>

{% endblock %}
